---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="AI/ML">

	<main>

	<div class="AI-ML">
		<div class="AI-ML-content">
			<h2> Artificial Intelligence / Machine Learning (AI/ML) </h2>
			<p> Sectoral tech stack using AI/ML refers to the combination of technologies, tools, and frameworks used in specific industries to implement artificial intelligence and machine learning solutions. The integration of Al/ML in various sectors, such as healthcare, finance. and manufacturing, has enabled the development of innovative products and services that improve efficiency, productivity, and customer experience. For example, in healthcare, AI/ML algorithms can be used to analyze medical images and patient data to diagnose diseases and develop personalized treatment plans. In finance. AI/ML can be used to detect fraud, automate financial processes, and provide personalized investment recommendations.</p>
		</div>
		<div class="AI-ML-img">
			<img src="/AI-ML.jpg" alt="Image failed to load"/>
		</div>
	</div>


	<div class="AI-ML-tech">
		<div class="AI-ML-tech-img">
			<img src="/AI-Techstack.jpg" alt="Image failed to load" />
		</div>
		<div class="AI-ML-tech-content">
			<h2> Sectoral tech stacks with Al </h2>
			<p> In manufacturing. AU/ML can be used to optimize supply chain management, improve quality control, and enhance production efficiency. The sectoral tech stack using AL/ML varies depending on the industry's needs and requirements. However, it generally includes technologies such as big data platforms, cloud computing, data analytics, and machine learning frameworks such as TensorFlow and PyTorch. In addition, sector specific tools and platforms are used to collect, process, and analyze data. such as electronic health records in healthcare or financial transaction data in finance. The integration of AI/ML in sectoral tech stacks has the potential to transform various industries by creating more efficient and intelligent systems that improve productivity and customer experience.</p>
		</div>
	</div>


	</main>
</Layout>

<style>

	main{
		background-color: white;
	}

	.AI-ML {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 10%;

	}

	.AI-ML-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 50%;
	}

	.AI-ML-img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
	}

	.AI-ML-img img {
		height: 360px;
		width: 360px;
	}


	.AI-ML-tech {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 10%;
	}

	.AI-ML-tech-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 50%;
	}

	.AI-ML-tech-img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
	}


@media only screen and (max-width: 400px){

	.AI-ML {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 0 10%;
	}

	.AI-ML-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-size: 16px;
		width: 100%;
	}

	.AI-ML-img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.AI-ML-img img {
		height: 200px;
		width: 200px;
	}

	.AI-ML-tech {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 0 10%;
	}

	.AI-ML-tech-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		font-size: 16px;
		width: 100%;
	}

	.AI-ML-tech-img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.AI-ML-tech-img img {
		height: 180px;
		width: 180px;
	}

}


</style>
